body {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  margin: 20px 0 50px 0;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 4rem;
}

.card {
  height: 600px;
  width: 550px;
  background-color: #EEEEEE;
  border-radius: 8px;
  border-style: solid;
  text-align: center;
}

.title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 2rem;
}

.challenge-img {
  max-width: 70%;
  max-height: 70%;
}

.description {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 1.8rem;
}

footer {
  text-align: center;
}


